annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
arcp==0.2.1
argo-workflows==6.5.8
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
CordraPy @ git+https://github.com/usnistgov/CordraPy@7d73f3f58461a2dc7540970fe7defaa361b61740
fastapi==0.128.0
h11==0.16.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-magic==0.4.27
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.33.1
requests-toolbelt==1.0.0
rocrate @ git+https://github.com/ResearchObject/ro-crate-py.git@7588a0f8d867cf6ac119e66ad7ad74520441590b
ruff==0.14.9
setuptools==78.1.1
six==1.17.0
soupsieve==2.8.3
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
